#generate-random-pic {
  margin: auto;
  display: block;
  background-color: yellow;
  color: black;
  text-align: center;
  font-size: 30px;
}

#random-dog {
  
  list-style: none;
  padding-top: 20px;
}

#random-dog li {
  display: inline;
  text-decoration: none;
}

#random-dog li img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}
